<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>915158608642-8fjqeg9l0dn41uvfn0qreso92686j4de.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.915158608642-8fjqeg9l0dn41uvfn0qreso92686j4de</string>
	<key>API_KEY</key>
	<string>AIzaSyBs-p5Wevqa6xn_75qlLJ_ItIerBjP6CiE</string>
	<key>GCM_SENDER_ID</key>
	<string>915158608642</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.irina-dorofeeva.BookBee</string>
	<key>PROJECT_ID</key>
	<string>bookbee-f3f59</string>
	<key>STORAGE_BUCKET</key>
	<string>bookbee-f3f59.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:915158608642:ios:52fa7496250c3848</string>
	<key>DATABASE_URL</key>
	<string>https://bookbee-f3f59.firebaseio.com</string>
</dict>
</plist>